
body {
    background: rgb(131, 58, 180) linear-gradient(90deg, rgba(131, 58, 180, 1) 0%, rgba(253, 29, 29, 1) 50%, rgba(252, 176, 69, 1) 100%);
    width: 90%;
    height: 100%;
}

.main {
  width: 700px;
  height: 400px;
  margin-top: 12%;
  margin-left: 30%;
  background: rgb(251 251 251 / 60%);
  border-radius: 25px;
}

ul {
    padding: 35px
}

li {
	box-shadow: 3px 4px 0 0 #899599;
	background: rgb(251 251 251 / 68%);
    list-style-type: none;
	border-radius:15px;
    font-family: "JetBrains Mono ExtraBold", sans-serif;
	display:inline-block;
	cursor:pointer;
	color:#4a4c4d;
    margin-top: 5px;
	font-size:17px;
	font-weight:bold;
	padding:7px 25px;
	text-decoration:none;
	text-shadow:0 1px 0 #e1e2ed;
}

li:hover {
	background-color:#ded528;
}

li:active {
	position:relative;
	top:1px;
}

.vote{
    box-shadow: 3px 4px 0 0 #899599;
	background: rgb(251 251 251 / 68%);
    list-style-type: none;
	border-radius:15px;
	display:inline-block;
	cursor:pointer;
	color:#4a4c4d;
    margin-top: 5px;
    font-family: "JetBrains Mono ExtraBold", sans-serif;
	font-size:17px;
	font-weight:bold;
	padding:7px 25px;
	text-decoration:none;
	text-shadow:0 1px 0 #e1e2ed;
}

.vote:hover {
	background-color:#ded528;
}

.vote:active {
	position:relative;
	top:1px;
}

label {
    font-family: "JetBrains Mono ExtraBold", sans-serif;
    color: #171616FF;
}

h1{
    padding-top: 19px;
    padding-left: 10px;
    font-family: "JetBrains Mono ExtraBold", sans-serif;
    color: #171616FF;
}

form {
    padding-top: 19px;
    padding-left: 10px;
    font-family: "JetBrains Mono ExtraBold", sans-serif;
    color: #171616FF;
}


a {
    padding: 5px;
    font-family: "JetBrains Mono ExtraBold", sans-serif;
    font-size: 14pt;
    color: #171616FF;
    text-decoration: none;
}